# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Terratest test data folder
.test-data
# General test results folder
.test-results

# Terragrunt caches etc
.terragrunt*

# Swap files
*.swap
*.swp

# Inspec lock files
inspec.lock

# Terraform lock files
.terraform.lock.hcl
